div.navbar.navbar-inverse.navbar-fixed-top(rol='navigation')
  div.container
    div.navbar-header
      button.navbar-toggle.navbar-right(type='button',data-toggle='collapse',data-target='.navbar-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#')
    div.collapse.navbar-collapse.navbar-right
      ul.nav.navbar-nav
        li.active
          a(href="#") Home
        li
          a(href="#about") about
        li
          a(href="#contact") Contact
