extends layout

block content
  div#slideshow
    div(style='opacity:1')
      li#banner1
    div(style='opacity:1')
      li#banner2
    div(style='opacity:1')
      li#banner3
    div.container
      h1 Program Name
      p Hello World
  div
    a(id='question') Maillist
